# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django specific
*.log
db.sqlite3
backend/static/
/staticfiles/

# Python virtualenv
venv/
.env

# IDE
.vscode/
.idea/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

.DS_Store

ignore/

