{% extends "web/base.html" %}
{% load static %}
{% block title %}Standings - Baseball Data Lab Web{% endblock %}
{% block content %}
<h1 style="font-family: proxima-nova, 'open Sans', Helvetica, Arial, sans-serif;">Standings</h1>
<div id="vue-app"></div>
{% if DJANGO_USE_VITE_DEV %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/src/main.js"></script>
{% else %}
    <script src="{% static 'frontend/main.js' %}"></script>
{% endif %}
{% endblock %}
